html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

.vissualy-hiden {
    display: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}