
/*
 Montserrat - font-family 
*/
.logo,
.top-menu__link,
.header-title__main,
.header-title__btn,
.serv__title-main,
.team__title-main,
.form-email__btn {
    font-family: $primary-title-font;
    font-weight: 700;
    line-height: 1.2em;
}
/*
 Montserrat - font-family 
_end
*/