.copyright {
    margin: 0;
    font-family: $primary-title-font;
    font-weight: 600;
    font-size: 14px;
    color: $secondary-title-color;
}

.copyright span {
    color: $under-title-color;
}