.team__post {
    margin: 0;
    font-family: $primary-descr-font;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: $primary-descr-color;
    text-align: center;
}
