.team__name {
    margin: 0 auto 10px;
    text-transform: uppercase;
    font-family: $primary-title-font;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: $secondary-title-color;
    text-align: center;  
}