.users-menu {
    width: 78px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    &__item {
        position: relative;

        &:hover .users-menu__icon {
            fill: #fce38a;
            transition: fill 0.3s;
        }
    
        &:hover::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $primary-accent-color;
            position: absolute;
            left: 0;
            top: 100%;
        }
    }

    &__link {
        display: block;
        width: 18px;
        height: 18px;
    }

    &__icon {
        display: block;
        width: 100%;
        height: 100%;
        fill: $primary-white-color;
    }


}






