html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

/* vissualy-hiden helper */
.vissualy-hiden:not(:focus):not(:active) {
    /* display: none; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    /* 
    !- for now don't know -!
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    */
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}