$primary-bg-gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));

$primary-title-font: 'Montserrat';
$secondary-title-font: 'Kaushan Script';
$primary-descr-font: 'Roboto';

$primary-white-color: #ffffff;
$primary-accent-color: #fce38a;
$secondary-title-color: #333333;
$primary-descr-color: #999999;

$under-title-color: #f38181;
$social-icon-color: #f38181;
$social-bg-hover: #f38181;

$serv-icon-color: #95e1d3;

$team-img-bg: #95e1d3;

$primary-border-color: #e5e5e5;